@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display:flex;
    flex-direction: row;
    justify-content: center;

    background-color: $lightBlue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    &__title {
        text-decoration: none;
        font-family: bold;
        font-size: 1.5rem;
        font-weight: bold;
        color: $darkBlue;
    }
}